.c4f-dark {
  border-radius: 5px;
  border-style: none;
  background-color: #243342;
  color: white;
  font-weight: bold;
  font-size: 6mm;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
}

.c4f-dark:hover {
  border-radius: 5px;
  border-style: none;
  background-color: #18222c;
  color: white;
  font-weight: bold;
  font-size: 6mm;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.3s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

